In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train_data.csv')
# train

In [3]:
test = pd.read_csv('test_data.csv')
# test

In [4]:
valid = pd.read_csv('validation_data.csv')
valid[valid['rating'] == 1]

        user_id  item_id  rating
0             0       43       1
100           1       86       1
200           2       94       1
300           3      106       1
400           4      114       1
...         ...      ...     ...
223400     2234     1093       1
223500     2235     2124       1
223600     2236       56       1
223700     2237      106       1
223800     2238      345       1

[2239 rows x 3 columns]

In [5]:
item = pd.read_csv('item_fea.csv')
item

,Unnamed: 0,fea_0,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,...,fea_140,fea_141,fea_142,fea_143,fea_144,fea_145,fea_146,fea_147,fea_148,fea_149
0,0,-0.059138,0.445023,0.434784,-0.002268,0.051577,0.255251,0.088059,0.260075,-0.040229,...,0.218243,0.305371,0.131283,0.604205,0.156294,0.014818,0.307943,0.885894,0.448740,0.114226
1,1,-0.036095,0.296636,0.683838,0.045720,-0.051367,0.595819,-0.008529,0.209537,0.008211,...,-0.109511,0.102012,0.074569,0.742033,0.150169,0.137498,0.264833,0.918470,0.252392,0.217043
2,2,-0.789944,-0.009038,-0.117730,0.428733,-0.300043,0.278383,0.497437,-0.271460,-0.002647,...,0.032246,-0.429274,-0.531839,0.327845,0.367732,0.407756,0.025253,0.241589,-0.127064,0.173381
3,3,-0.201070,0.316173,0.253146,0.059307,-0.038164,0.275562,-0.154885,0.010492,0.101456,...,0.258593,0.098354,-0.350636,0.994348,0.013166,0.369540,0.174142,0.707064,0.469137,0.262380
4,4,-0.586060,0.428001,0.104813,0.035911,-0.668778,0.471825,0.216815,-0.350574,-0.182772,...,-0.052275,-0.214053,-0.129578,0.078886,0.303341,0.086016,-0.185985,0.431955,0.186745,0.187713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2169,2169,-0.366968,0.157899,-0.019499,0.198107,0.034789,0.541277,-0.055168,-0.031729,-0.048176,...,0.179271,-0.061474,-0.134971,0.619893,0.151097,0.356197,0.082364,0.377981,0.152409,0.322049
2170,2170,-0.003101,0.474982,0.184528,-0.072679,-0.286527,0.602689,-0.027034,-0.193502,-0.342228,...,-0.171213,-0.183854,0.006378,0.670806,0.085740,-0.047439,-0.025858,1.083711,0.215371,0.116725
2171,2171,0.015319,0.539924,0.142802,0.182064,-0.045185,-0.781630,-0.043399,-0.656324,-0.429629,...,0.042735,0.153905,-0.117986,0.332773,1.056229,0.392021,0.136627,0.274312,0.319719,-0.502290
2172,2172,-0.014664,0.249877,0.520696,0.277130,0.571637,-0.055869,0.023226,0.293835,0.044577,...,0.497207,0.246664,0.150732,0.742176,0.164758,0.230714,0.210047,0.324801,0.102207,0.466711
2173,2173,-0.124170,-0.126475,0.350681,0.157738,-0.029210,0.865061,0.051808,0.284684,0.286956,...,0.181845,-0.129346,-0.482060,0.637275,-0.294947,-0.240269,0.137482,0.962756,0.227137,0.358893

In [6]:
user = pd.read_csv('user_fea.csv')
# user

In [7]:
link = pd.read_csv('links.csv')
# link

In [8]:
sample = pd.read_csv('sample_solution_data.csv')
# sample

In [9]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=200, random_state=0).fit(item)
cluster = kmeans.labels_

In [10]:
item_dict = dict()
for i in train[train['user_id'] == 0]['item_id']:
    if cluster[i] in item_dict:            
        item_dict[cluster[i]] += 10
    else:
        item_dict[cluster[i]] = 10

In [11]:
link_list = list()
for i in link[link['src'] == 0]['des']:
    link_list.append(i)

In [12]:
for j in link_list:
    for i in train[train['user_id'] == j]['item_id']:
        if cluster[i] in item_dict:            
            item_dict[cluster[i]] += 1
        else:
            item_dict[cluster[i]] = 1

In [13]:
recommender_dict = dict()
for i in test[test['user_id'] == 0]['item_id']:
    if cluster[i] in item_dict:
        recommender_dict[i] = item_dict[cluster[i]]

In [14]:
sort_orders = sorted(recommender_dict.items(), key=lambda x: x[1], reverse=True)
# sort_orders[:10]

In [15]:
user_id_list = list()
item_id_list = list()

In [16]:
for i in sort_orders[:10]:
    user_id_list.append(0)
    item_id_list.append(i[0])

In [17]:
user_id_list

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [18]:
item_id_list

[44, 81, 558, 555, 1217, 987, 744, 695, 383, 123]

In [19]:
def pipeline(user_id):
    
    item_dict = dict()
    for i in train[train['user_id'] == user_id]['item_id']:
        if cluster[i] in item_dict:            
            item_dict[cluster[i]] += 10
        else:
            item_dict[cluster[i]] = 10 
            
    link_list = list()
    for i in link[link['src'] == user_id]['des']:
        link_list.append(i)
    for j in link_list:
        for i in train[train['user_id'] == j]['item_id']:
            if cluster[i] in item_dict:            
                item_dict[cluster[i]] += 1
            else:
                item_dict[cluster[i]] = 1          
    

    recommender_dict = dict()
    for i in test[test['user_id'] == user_id]['item_id']:
        if cluster[i] in item_dict:
            recommender_dict[i] = item_dict[cluster[i]]
    
    sort_orders = sorted(recommender_dict.items(), key=lambda x: x[1], reverse=True)
    
    i = 0
    while len(sort_orders) < 10:
        sort_orders.append([test[test['user_id'] == user_id]['item_id'].tolist()[i]])
        i += 1
        
    for i in sort_orders[:10]:
        user_id_list.append(user_id)
        item_id_list.append(i[0])

In [20]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=200, random_state=0).fit(item)
cluster = kmeans.labels_

In [21]:
user_id_list = list()
item_id_list = list()

In [22]:
for i in range(2239):
    pipeline(i)

In [25]:
df = pd.DataFrame(list(zip(user_id_list, item_id_list)), columns = ['user_id', 'item_id'])

In [26]:
df.head(50)

    user_id  item_id
0         0       44
1         0       81
2         0      558
3         0      555
4         0     1217
5         0      987
6         0      744
7         0      695
8         0      383
9         0      123
10        1       87
11        1      699
12        1      694
13        1      692
14        1      523
15        1      755
16        1      748
17        1      676
18        1      143
19        1      138
20        2       97
21        2       95
22        2     1096
23        2      557
24        2     2002
25        2     1380
26        2      698
27        2      696
28        2      399
29        2      395
30        3      107
31        3     2005
32        3     2001
33        3     1884
34        3     1864
35        3     1823
36        3     1165
37        3     1157
38        3     1027
39        3      724
40        4      104
41        4      524
42        4      514
43        4      663
44        4      655
45        4       43
46        4       16
47        4       65
48        4     1448
49        4     1063

In [28]:
df.to_csv('output.csv', index=False)